<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">

      <h1 class="">New Racket Product</h1>
      Product Name: <%= @poi.title %>
      <hr>
    </div>
  </div>
</div>




<%= render 'form', poi: @poi %>
<div class="section no-pad-bot">
  <div class="container">
    <div class="row main-text-color">
      <a class="waves-effect waves-light btn blue darken-4" <%= link_to 'Back', poi_racket_infos_path %> </a>
    </div>
  </div>
</div>
