<div class="section no-pad-bot">
<div class="container">
<div class="row main-text-color">

<div class="col s12">

    <div class="card-panel">
          <h4 class="center hide-on-small-only">How to Order our Product</h4>
          <h5 class="center hide-on-med-and-up">How to Order our Product</h5>

          <p></p>
          <div class="card-action center">
            <p></p>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <!-- <center> -->
            <div class="center">
              <img src="http://www.trademarkia.com/logo-images/gosen-co/good-gosen-85293191.jpg" class="responsive-img" style="max-height: 100px;"/>

              <img src="http://h.lnwfile.com/_/h/_raw/c1/zi/34.jpg" class="responsive-img" style="max-height: 100px; max-width: 350px;"/>
            </div>
            <p></p>
            <br>
            <p></p>
          </div>
          <div class="card-action center">
            <a href="https://www.facebook.com/peranat.lappakobkit" target="_blank"><i class='fa fa-facebook-square fa-3x blue-text'></i></a>
            <a href="https://instagram.com/boss2bmj" target="_blank"><i class='fa fa-instagram'style="font-size:40px;color:brown;"></i></a>
            <a href="mailto:boss2bmj@gmail.com" target="_blank"><i class="fa fa-envelope-o"style="font-size:40px;"></i></a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
