<footer class="page-footer  blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">BossFit</h5>
            <p class="grey-text text-lighten-4">I hope you that you guys will enjoy BossTube, and if you guys want to contact me, you can contact me via:</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Contacts</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="http://boss2bmj.github.io/"><i class="fa fa-home"></i>My Blog</li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/boss2bmj"><i class="fa fa-github-square"></i>GitHub</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/peranat.lappakobkit"><i class="fa fa-facebook-square"></i>Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="mailto:boss2bmj@gmail.com"><i class="fa fa-envelope-o"></i>Email</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <i class="fa fa-copyright"></i>
        2016 Peranat Lappakobkit 5580968
        </div>
      </div>
    </footer>
