<ul id="dropdown1" class="dropdown-content  blue darken-4">
  <li><a class ="white-text" href="/products">Products</a></li>
  <li class="divider"></li>
  <li><a class ="white-text" href="/apparels">Apparel</a></li>
  <li class="divider"></li>
  <li><a class ="white-text" href='/grips'>Grip</a></li>
  <li class="divider"></li>
  <li><a class ="white-text" href="/rackets">Racket</a></li>
  <li class="divider"></li>
  <li><a class ="white-text" href="/shuttlecocks">Shuttlecocks</a></li>
  <li class="divider"></li>
  <li><a class ="white-text" href="/strings">String</a></li>
</ul>

<nav class ="blue darken-4">
  <div class="nav-wrapper container blue darken-4">

    <a href="/home" class="brand-logo"> <%= image_tag("logo.png") %> </a>
    <ul class="right hide-on-med-and-down">


      <%if user_signed_in? %>
      <!-- <li><a href="/page/profile">My Profile</a></li> -->
      <li><a href="/home">Home</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Products <i class="fa fa-chevron-down"></i></a></li>
      <!-- <li><a href=""><%= link_to "Admin", page_profile_path %><br></a></li> -->
      <li><a href=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br></a></li>
      <!-- <li><a href="/users/sign_up">Sign Up</a></li> -->

      <%else%>


        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Products <i class="fa fa-chevron-down"></i></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>

        <li><a href="/users/sign_in">Sign In</a></li>
        <!-- <li><a href="/users/sign_up">Sign Up</a></li> -->
     <% end%>
      <!-- Dropdown Trigger -->

    </ul>
  </div>
</nav>
