<!-- <ul id="dropdown1" class="dropdown-content">
  <li><a href="/page/home">Home</a></li>
  <li class="divider"></li>
  <li><a href="/page/about">About</a></li>
  <li class="divider"></li>
  <li><a href="/page/contact">Contact</a></li>
  <li class="divider"></li>
  <li><a href="/page/faq">Faqs</a></li>
</ul> -->
<nav>
  <div class="nav-wrapper  blue darken-4">
    <a href="/page/home" class="brand-logo">Boss</a>
    <ul class="right hide-on-med-and-down">
      <!-- <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Home  <i class="fa fa-caret-down"></i></a></li> -->


      <%if user_signed_in? %>
      <!-- <li><a href="/page/profile">My Profile</a></li> -->
      <li><a href="/products">Stock</a></li>
      <li><a href=""><%= link_to "Admin", page_profile_path %><br></a></li>
      <li><a href=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br></a></li>
      <!-- <li><a href="/users/sign_up">Sign Up</a></li> -->

      <%else%>
        <li><a href="/products">All Products</a></li>
        <li><a href="/page/about">About</a></li>
        <li><a href="/page/contact">Contact</a></li>

        <li><a href="/users/sign_in">Sign In</a></li>
        <!-- <li><a href="/users/sign_up">Sign Up</a></li> -->
     <% end%>
      <!-- Dropdown Trigger -->

    </ul>
  </div>
</nav>


<!-- <nav>
   <div class="nav-wrapper  blue darken-4">
     <a href="/page/home" class="brand-logo">BossFit</a>


     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a href="/page/home">Home</a></li>
       <li><a href="/page/about">About</a></li>
       <li><a href="/page/contact">Contact</a></li>
       <li><a href="/page/faq">Faqs</a></li>

       <%if user_signed_in? %> -->
       <!-- <li><a href="/page/profile">My Profile</a></li> -->
       <!-- <li><a href=""><%= link_to "My Profile", page_profile_path %><br></a></li>
       <li><a href=""><%= link_to "Sign Out", destroy_user_session_path, method: :delete %><br></a></li>

       <%else%>


         <li><a href="/users/sign_in">Sign In</a></li>
         <li><a href="/users/sign_up">Sign Up</a></li>
      <% end%>

     </ul>
   </div>
 </nav> -->
