<br>
<div class="row">
  <div class = "col s12 ">
    <div class="slider">
      <ul class="slides">
        <li>
          <%= image_tag("bk1.jpg") %>
          <div class="caption center-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <%= image_tag("bk4.jpg") %>
          <div class="caption right-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <%= image_tag("bk2.jpg") %>
          <div class="caption left-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>
        <li>
          <%= image_tag("bk3.jpg") %>
          <div class="caption right-align">
            <h3></h3>
            <h5 class="light grey-text text-lighten-3"></h5>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
